.jumbotron {
    padding-top: 5.5rem;
    padding-bottom: 0.3px;
    background: linear-gradient(#a75de7, #e3cff5, #a75de7);
}

#projects {
    background-color: #e5dbee;
}

section {
    padding-top: 4rem;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #7f51d3;
    color: #fff;
}

.copyright {
    padding-top: 1px;
    padding-bottom: 1x;
    background-color: #723dc7;
}