.jumbotron {
    padding-top: 5.5rem;
    padding-bottom: 0.3px;
    background: linear-gradient(#a75de7, #e3cff5, #a75de7);
}

#projects {
    background-color: #e5dbee;
}

section {
    padding-top: 4rem;
}